@model List<Pelicula>

@{
    ViewBag.Title = "Peliculas";
}

<h2>Peliculas</h2>
<br />
<br />
<input type="text" id="txtBuscar" size="30" placeholder="Buscar"/>
<br />
<br />

<div id="DataSearching">
    @foreach (var imagenPelicula in Model)
    {
        <a href="@Url.Action("Ver","Home",new {Id = imagenPelicula.Id })"><img src="@Url.Content(imagenPelicula.RutaDeImagen)" width="250" height="250" /></a>

    }
</div>

@section scripts
     {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>

            $(document).ready(function () {
                $("#txtBuscar").keyup(function () {
                    var ValorBusqueda = $("#txtBuscar").val();

                    var SetData = $("#DataSearching");
                    var SetImage = $("#SetImage");
                    SetData.html("");
                    $.ajax({
                        type: "post",
                        url: "/Home/BuscandoPeliculas?ValorBusqueda=" + ValorBusqueda,
                        contentType: "html",
                        success: function (result) {
                            if (result.length == 0) {
                                SetData.append('<span>No hay ninguna coincidencia.</span>');
                            } else {
                                $.each(result, function (indice, valor) {
                                  
                                    var tamanio = valor.RutaDeImagen.length;
                                    var url = "@Url.Action("Ver","Home",new {Id="parametro-id" })";
                                    url = url.replace("parametro-id", valor.Id);
                                    var content = ("@Url.Content("parametro-contenido")").toString();
                                    content = content.replace("parametro-contenido", valor.RutaDeImagen);
                                    content = content.substring(1, tamanio);


                                    
                                    var Data = "<a href=\"" + url + "\"" + ">" + "<img src=\"" + content + "\"" + " width=" + "\"250\"" + " height=" + "\"250\" alt=\""+valor.Título+"\""+"/>"+"</a>";
                                   




                                    SetData.append(Data);

                                    



                                });
                            }



                        }
                    });
                });
            });


    </script>
}




