@model List<Pelicula>


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken();
   
<input type="text" name="Título" id="txtTitulo" placeholder="=Buscar"/>
    @*<input type="submit" value="Buscar" class="btn-success" />*@
}




@{
    ViewBag.Title = "Home Page";
}
@{ List<Pelicula> datos = new List<Pelicula>();}





 @section scripts
     {
     <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
     <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
     <script src="~/Scripts/jquery-ui.js"></script>
@*<script>
        $(function () {
            $("#txtTitulo").({
                source: "/Home/Index"
            });



        });

</script>*@
     <script>
        function obtener_registros(alumnos){
         $.ajax({
             url : @Url.Action("BuscarPeliculas", "Home"),
             type :'POST',
             dataType : 'html',
             data : {alumnos : alumnos}
             
         }).done(function(resultado){

            
             @datos = resultado;

         })
        }
         $(document).on(onkeyup, '#txtTitulo',function()
         
         {
             var valorBusqueda = $(this).val();
             if (valorBusqueda != "") {
                 obtener_registros(valorBusqueda);

             }else{
                 obtener_registros();
             }

         });
         
         
     </script>

     }          


@foreach (var imagenPelicula in datos)
{
    if (imagenPelicula.RutaDeImagen != null)
    {
        <div>
            <dl>
                @*<dl class="dl-horizontal">*@


                <dd>


                    <a href="@Url.Action("Ver","Home",new {Id = imagenPelicula.Id })"><img src="@Url.Content(imagenPelicula.RutaDeImagen)" width="250" height="250" /></a>

                </dd>


            </dl>
        </div>





    }
}