<div id="sidebar">

    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</div>

<style>
    * {
        margin:0px;
        padding:0px;
        font-family: sans-serif;
    }

    #sidebar {
        position: fixed;
        width:200px;
        height: 100%;
        background: #151719;
    }
</style>

